

#### Name: Kanherkar Amol Sanjay
#### Class:SY Branch:AIDS Div:A
#### RollNO:EN23107056
#### Practical_1:Data Wrangling_1

1. Import requird Python library
2. locate iris flower dataset
3. load into pandas Dataframe
4. Data preprocessing
5. Data formsting and normalizing
6. categorical -> quantitative

In [10]:
import pandas as pd 
df=pd.read_csv('iris.csv')

In [12]:
df

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    150 non-null    int64
 1   Sepal.Length  150 non-null    float64
 2   Sepal.Width   150 non-null    float64
 3   Petal.Length  150 non-null    float64
 4   Petal.Width   150 non-null    float64
 5   Species       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [16]:
df.shape

(150, 6)

In [18]:
df.dtypes

Unnamed: 0        int64
Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [20]:
df.ndim

2

In [22]:
df.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [24]:
df.tail()

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [26]:
df.describe()

       Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    75.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      1.000000      4.300000     2.000000      1.000000     0.100000
25%     38.250000      5.100000     2.800000      1.600000     0.300000
50%     75.500000      5.800000     3.000000      4.350000     1.300000
75%    112.750000      6.400000     3.300000      5.100000     1.800000
max    150.000000      7.900000     4.400000      6.900000     2.500000

In [28]:
df.sum()

Unnamed: 0                                                  11325
Sepal.Length                                                876.5
Sepal.Width                                                 458.6
Petal.Length                                                563.7
Petal.Width                                                 179.9
Species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [30]:
df.count()

Unnamed: 0      150
Sepal.Length    150
Sepal.Width     150
Petal.Length    150
Petal.Width     150
Species         150
dtype: int64

In [32]:
df.min()

Unnamed: 0           1
Sepal.Length       4.3
Sepal.Width        2.0
Petal.Length       1.0
Petal.Width        0.1
Species         setosa
dtype: object

In [62]:
df["Sepal.Length"].min()

4.3

In [34]:
df.max()

Unnamed: 0            150
Sepal.Length          7.9
Sepal.Width           4.4
Petal.Length          6.9
Petal.Width           2.5
Species         virginica
dtype: object

In [36]:
df.std

<bound method NDFrame._add_numeric_operations.<locals>.std of      Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  \
0             1           5.1          3.5           1.4          0.2
1             2           4.9          3.0           1.4          0.2
2             3           4.7          3.2           1.3          0.2
3             4           4.6          3.1           1.5          0.2
4             5           5.0          3.6           1.4          0.2
..          ...           ...          ...           ...          ...
145         146           6.7          3.0           5.2          2.3
146         147           6.3          2.5           5.0          1.9
147         148           6.5          3.0           5.2          2.0
148         149           6.2          3.4           5.4          2.3
149         150           5.9          3.0           5.1          1.8

       Species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 6 columns]>

In [42]:
df["Sepal.Length"].std

<bound method NDFrame._add_numeric_operations.<locals>.std of 0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Sepal.Length, Length: 150, dtype: float64>

In [48]:
df["Sepal.Length"].mean()

5.843333333333334

In [52]:
df["Sepal.Length"].sort_values()

13     4.3
42     4.4
38     4.4
8      4.4
41     4.5
      ...
122    7.7
118    7.7
117    7.7
135    7.7
131    7.9
Name: Sepal.Length, Length: 150, dtype: float64

In [54]:
df.isnull()

     Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
0         False         False        False         False        False    False
1         False         False        False         False        False    False
2         False         False        False         False        False    False
3         False         False        False         False        False    False
4         False         False        False         False        False    False
..          ...           ...          ...           ...          ...      ...
145       False         False        False         False        False    False
146       False         False        False         False        False    False
147       False         False        False         False        False    False
148       False         False        False         False        False    False
149       False         False        False         False        False    False

[150 rows x 6 columns]

In [56]:
df.notnull()

     Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
0          True          True         True          True         True     True
1          True          True         True          True         True     True
2          True          True         True          True         True     True
3          True          True         True          True         True     True
4          True          True         True          True         True     True
..          ...           ...          ...           ...          ...      ...
145        True          True         True          True         True     True
146        True          True         True          True         True     True
147        True          True         True          True         True     True
148        True          True         True          True         True     True
149        True          True         True          True         True     True

[150 rows x 6 columns]

In [66]:
df.size

900

In [72]:
 df["Species"].value_counts()

Species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [84]:
 df["Species"].replace(['setosa','versicolor ','virginica'],[1,2,3],inplace=True)

In [86]:
df

     Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0             1           5.1          3.5           1.4          0.2       1
1             2           4.9          3.0           1.4          0.2       1
2             3           4.7          3.2           1.3          0.2       1
3             4           4.6          3.1           1.5          0.2       1
4             5           5.0          3.6           1.4          0.2       1
..          ...           ...          ...           ...          ...     ...
145         146           6.7          3.0           5.2          2.3       3
146         147           6.3          2.5           5.0          1.9       3
147         148           6.5          3.0           5.2          2.0       3
148         149           6.2          3.4           5.4          2.3       3
149         150           5.9          3.0           5.1          1.8       3

[150 rows x 6 columns]

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    150 non-null    int64
 1   Sepal.Length  150 non-null    float64
 2   Sepal.Width   150 non-null    float64
 3   Petal.Length  150 non-null    float64
 4   Petal.Width   150 non-null    float64
 5   Species       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [122]:
from sklearn.preprocessing import LabelEncoder

In [150]:
df=pd.read_csv('iris.csv')
df

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [152]:
le=LabelEncoder()

In [154]:
ak=le.fit_transform(df['Species'])
ak

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])